* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #eee;
  font-family: monospace, serif;
  font-size: 18px;
  line-height: 120%;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 15px;
}